@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Lora:ital@1&display=swap');

body {
  font-family: 'Amatic SC', 'cursive', sans-serif;
  font-size: 35px;
  background-color: #c0bdbdd2;
}